.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    resize: none;
}

.form-control input,
.form-control textarea {
    border: 1px solid #dbc441;
    border-radius: 5px;
    font: inherit;
    outline: none;
}

.form-control input {
    height: 2rem;
}

button {
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    font: inherit;
    color: #6200ff;
    cursor: pointer;
    padding: 0.5rem;
}

button:hover,
button:active {
    color: white;
    background-color: #6200ff;
}